{% extends 'base.html' %} {% block content%}

<div class="container">
  <div class=" w-100">
    <h4>Seu carrinho</h4>
    <table class="table" style="text-align: center;">
      <thead>
        <tr>
          <th class="text-center">Incrementar</th>
          <th class="text-center">Decrementar</th>
          <th class="text-center">Nome</th>
          <th class="text-center">Qtd</th>
          <th class="text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for cp in carro.carroproduto_set.all %}
        <tr>
          <td>
            <a
              href="{% url 'lojaapp:manipularcarro' cp.id %}?acao=inc"
              class="btn btn-success"
              >+
            </a>
          </td>
          <td>
            <a
              href="{% url 'lojaapp:manipularcarro' cp.id %}?acao=dcr"
              class="btn btn-danger"
              >-</a
            >
          </td>
          <td>{{ cp.produto.titulo }}</td>
          <td>{{ cp.quantidade}}</td>
          <td>R$ {{ cp.sub_total }},00</td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan="5" class="text-center">Total: R$ {{carro.total}},00</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
