{% extends 'base.html' %} {% block content%}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h4>Itens do carrinho</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Produto</th>
            <th>Avaliacao</th>
            <th>Quantidade</th>
            <th>Subtotal</th>
            <th>Acao</th>
          </tr>
        </thead>
        <tbody>
          {% for cp in carro.carroproduto_set.all %}

          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ cp.produto.titulo }}</td>
            <td>{{ cp.avaliacao_produto }}</td>
            <td>{{ cp.quantidade}}</td>
            <td>{{ cp.sub_total }}</td>
            <td>
              <a
                href="{% url 'lojaapp:manipularcarro' cp.id %}?acao=inc"
                class="btn btn-success"
                >Adicionar
              </a>
              <a
                href="{% url 'lojaapp:manipularcarro' cp.id %}?acao=dcr"
                class="btn btn-warning"
                >Retirar</a
              >
              <a
                href="{% url 'lojaapp:manipularcarro' cp.id %}?acao=rmv"
                class="btn btn-danger"
                >deletar</a
              >
            </td>
          </tr>
          {% endfor %}
          <tr>
            <th colspan="5" class="text-right">Valor total</th>
            <th>${{carro.total}}</th>
            <tr>
              {% if carro.carroproduto_set.all %}
              <th>
                <a
                href="{% url 'lojaapp:limparcarro' %}?acao=rmv"
                class="btn btn-warning"
                >Limpar carrinho
              </a>
              {% endif %}
              </th>
            </tr>
          </tr>
          <tr>
            {% if carro.carroproduto_set.all %}
              <th>
                <a
                href="{% url 'lojaapp:checkout' %}"
                class="btn btn-warning"
                >Processar Compra
              </a>
              {% endif %}
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
</div>

{% endblock %}
