{% extends 'base.html' %} {% block content %}
<div class="container p-3">
  <div class="row">
    <div class="col-md-6">
      <h3>Itens do carrinho</h3>
      <a
        href="{% url 'lojaapp:meucarro' %}?acao=rmv"
        class="btn btn-dark text-white"
        >Atualizar carrinho
      </a>
      <table class="table">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Produto</th>
            <th>Avaliacao</th>
            <th>Quantidade</th>
            <th>Subtotal</th>
            <th>Acao</th>
          </tr>
        </thead>
        <tbody>
          {% for cp in carro.carroproduto_set.all %}

          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ cp.produto.titulo }}</td>
            <td>{{ cp.avaliacao_produto }}</td>
            <td>{{ cp.quantidade}}</td>
            <td>{{ cp.sub_total }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tr>
          <th colspan="5" class="text-right">Valor total</th>
          <th>R$ {{carro.total}}</th>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h3>Detalhes da compra</h3>
      <form action=""></form>
    </div>
  </div>
</div>

{% endblock %}
