{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Página Sobre</h1>
<div class="container">
  <p class="text-justify mt-3 fw-semibold fs-3">
    Nossa loja online é o lugar ideal para encontrar produtos incríveis e fazer
    compras com segurança. Oferecemos uma ampla variedade de itens, desde roupas
    e acessórios até eletrônicos e artigos para casa. Nossa equipe trabalha duro
    para garantir que você tenha uma excelente experiência de compra, oferecendo
    um processo fácil e seguro para fazer pedidos e pagamentos. Além disso,
    oferecemos entrega rápida e suporte ao cliente 24 horas por dia, 7 dias por
    semana. Entre agora mesmo e confira nossos produtos de alta qualidade e
    preços competitivos.
  </p>
</div>
<div
  class="mt-4 p-3 d-flex justify-content-between position-absolute bottom-0"
  style="width: 100%; background-color: #000; color: #fff; letter-spacing: 2px"
>
  <h4>Instagram: Siga-nos no facebook @dudumarcelo</h4>
  <h4>Facebook: Siga nossa conta</h4>
</div>
{% endblock %}
