{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Página Sobre</h1>
<div class="container">
  <p class="text-justify">
    Nossa loja online é o lugar ideal para encontrar produtos incríveis e fazer
    compras com segurança. Oferecemos uma ampla variedade de itens, desde roupas
    e acessórios até eletrônicos e artigos para casa. Nossa equipe trabalha duro
    para garantir que você tenha uma excelente experiência de compra, oferecendo
    um processo fácil e seguro para fazer pedidos e pagamentos. Além disso,
    oferecemos entrega rápida e suporte ao cliente 24 horas por dia, 7 dias por
    semana. Entre agora mesmo e confira nossos produtos de alta qualidade e
    preços competitivos.
  </p>
</div>
{% endblock %}
